[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
imageio = "*"
scipy = "*"
scikit-rf = ">=0.24"

[dev-packages]

[requires]
python_version = "3.9"
